body{
	background-color: #FFCC00;
	color: #00000;
	font-family: Georgia, Garamond, sans-serif;
}

h1,h2{
	background-color: #F0F0F0;
	color: #a4a400;
	text-align: center;
	letter-spacing: 5px;
	font-family: "Century Gothic", Futura, verdana, sans-serif;
}

table{
	background-color: #CC9933;
	color: #FFFFFF;
	margin-top: 20px;
	border: 2px white solid;
}

th{
	background-color: #003366;
	color: #FFFFFF;
	padding: 5px;
	font-family: "Century Gothic", Futura, verdana, sans-serif;
}

th, td{
	border: 2px white solid;
	padding: 5px;
}

.heading{
	border: 5px white solid;
	background-color: #003366;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	font-size: 40px;

}

.img{
	float:left;
	padding: 25px;
}

.tableh{
	background-color: #F0F0F0;
	color: #a4a400;
	font-weight: bold;
	font-family: "Century Gothic", Futura, verdana, sans-serif;
}

.bold{
	font-weight: bold;
}

#home, #recipe, #recipe2{
	background-color: #F0F0F0;
	padding: 5px;
	margin: 2px;
	font-family: Georgia, Garamond, sans-serif;
}

.pic{
	text-align: center;
}



